<!-- 커뮤니티 첫 페이지 -->
{% extends 'community/base_community.html' %}
{% load static %}
{% block content %}

<article class="box post post-excerpt">
    <header>
    <div>
            <h1>게시글 작성</h1>
            <form method="POST" action="{% url 'gg_app:post_write' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.media}}
                <label for="category" >게시글 선택 ▼</label>
                <select class="write_category" name="category" style="width:140px;margin-bottom: 15px;">
                    <option value="자유게시판" {% if category == "자유게시판"%} selected {%endif%}>자유게시판</option>
                    <option value="팬 아트" {% if category == "팬 아트"%} selected {%endif%}>팬 아트</option>
                    <option value="팁과 노하우" {% if category == "팁과 노하우"%} selected {%endif%}>팁과 노하우</option>
                    <option value="소환사의 협곡" {% if category == "소환사의 협곡"%} selected {%endif%}>소환사의 협곡</option>
                    <option value="칼바람 나락" {% if category == "칼바람 나락"%} selected {%endif%}>칼바람 나락</option>
                    <option value="전략적 팀 전투" {% if category == "전략적 팀 전투"%} selected {%endif%}>전략적 팀 전투</option>
                </select>
                {{form.as_p}}


                <div style="display: flex;">
                    <img src="{%static 'img/community/wall.png'%}" alt="" width="50" height="50">
                    <span>"불법촬영물등을 게재할 경우 전기통신사업법 제22조의5제1항에 따라 삭제·접속차단 등의 조치가 취해질 수 있으며 관련 법률에 따라 처벌받을 수 있습니다."</span>
                </div>
                <div style="display:flex; justify-content:space-between;">
                    <a href="{%url 'gg_app:community'%}" 
                    style="
                        background-color:#f6f7f8; 
                        color:rgb(115, 114, 114); 
                        border-color: rgb(105, 103, 103);  
                        width:150px; 
                        height:50px; 
                        text-align:center;
                        font-size: 1.00em;
                        padding: 0.75em 0 0.75em 0;
                        margin: 0.5em 0 0.5em 0;" 
                    >취소하기</a>
                    <button type="submit" class="" style="width:150px; height:50px;">작성완료</button>
                    <!-- <button type="submit" class="">작성취소</button> -->
                </div>
            </form>
    </div>
</header>
</article>
{% endblock %}