<!-- 커뮤니티 첫 페이지 -->
{% extends 'community/index_community.html' %}
{% load static %}

{% block content %}
<!-- 포스 위쪽 정렬 메뉴 -->
<div class="eeeeee">
    안녕하세요
</div>
<article class="box post post-excerpt">
    <header>
        <div class="board_wrap">
            <div class="board_title">
                <div class="tag-group">
                    <div class="post-tag">
                        <a data-active="true" href=""><img src="{% static 'img/community/sun.png'%}" alt="" height="24">최신</a>
                        <a data-active="false" href=""><img src="{% static 'img/community/fire.png'%}" alt="" height="24">인기</a>
                        <div class="">
                            <a data-active="false" href=""><img src="{% static 'img/community/top.png'%}" alt="" height="24">TOP</a>
                            <select data-active="false" class="post-top-option">
                                <option value="top-day">지난 1일</option>
                                <option value="top-week">지난 1주</option>
                                <option value="top-month" selected="">지난 1개월</option>
                                <option value="top-year">지난 1년</option>
                                <option value="top">전체</option>
                            </select></div>
                    </div>
                    <form class="post_search_form">
                        <div class="input_group">
                            <input type="text" class="post_search" placeholder="제목+텍스트" name="search_text">
                            <span class="input_group_button">
                                <button class="search_post" type="submit" stytle="padding:'0em';"><img class="search_logo" src="{% static 'img/community/search.png'%}" alt="search_button" /></button>
                            </span>
                        </div>
                    </form>
                </div> 
            </div>
        </div>
    </header>
</article>

<!-- post -->
<article>
    <header>
        <div class="board_list_wrap">
            {% for post in posts %} <!-- views 에서 넘겨 받은 변수 -->
            <ul>
                <span>{{post.net_count}}</span> <!-- 추천과 비추천 합산 -->
                <span><a href="{% url 'gg_app:post_detail' post.id %}">{{post.title}}</a></span>
                <!-- 임시 버튼 누르면 상세 페이지(post_content.html) 이동하기, 상세페이지 안에서 up, down 기능 -->
                <span>{{post.author}}</span>
                <span>{{post.updated_at}}</span>
                <span>{{post.view}}</span>
            </ul>
            {% endfor %}
        </div>
    </header>
</article>
{% endblock %}
