{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
        <link rel="stylesheet" href="{% static 'css/header.css' %}" />
        <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
        <link rel="stylesheet" href="{% static 'css/leaderboards.css' %}" />

        <link rel="stylesheet" href="{% static 'css/footer_gray.css' %}" />
        <link rel="icon" href="{% static 'img\oreumi_gg\favicon.ico' %}" />
        <title>롤 랭킹</title>
    </head>
    <body>
        {% include 'oreumi_gg/header.html' %} {% include 'oreumi_gg/nav.html' %}

        <section class="leaderboards_container">
            <article class="select_article">
              <!-- 
                <div class="select_container" id="selectContainer">

                    <select name="select_tier" id="selectTier">
                        <option value="All">All</option>
                        <option value="challenger">Challenger</option>
                        <option value="grandmaster">GrandMaster</option>
                        <option value="master">Master</option>
                        <option value="diamond">Diamond</option>
                        <option value="emerald">Emerald</option>
                        <option value="platinum">Platinum</option>
                        <option value="gold">Gold</option>
                        <option value="silver">Silver</option>
                        <option value="bronze">Bronze</option>
                        <option value="iron">Iron</option>
                    </select>
                </div> 
              -->
                <div class="summoner_search" id="summonerSearch">
                    <form method="POST" name="search_form" action="{% url 'gg_app:summoners_info_form' %}">
                        {% csrf_token %}
                        <div class="input_group">
                            <input type="text" class="summoner_search" placeholder="소환사명" name="search_text" />
                            <span class="input_group_button">
                                <button class="search_button" type="submit">Oreumi.GG</button>
                            </span>
                        </div>
                    </form>
                </div>
            </article>
            <article class="summoners_article">
                <div class="summoners_container">
                    <!-- 소환사들의 랭킹 표시 -->
                    <div class="table_container">
                        <table>
                            <thead>
                                <tr>
                                    <th>랭킹</th>
                                    <th>소환사</th>
                                    <th>티어</th>
                                    <th>포인트</th>
                                    <th>레벨</th>
                                    <th>승</th>
                                    <th>패</th>
                                    <th>승률</th>   
                                </tr>
                            </thead>
                            <tbody>
                            {% for ranking in rankings%}
                                <tr>
                                  <th>{{ranking.ranking}}</th>
                                  <th>{{ranking.summoners}}</th>
                                  {% if ranking.rank %}
                                  <th>{{ranking.tier}} {{ranking.rank}}</th>
                                  {% else %}
                                  <th>{{ranking.tier}}</th>
                                  {% endif %}
                                  <th>{{ranking.LP}}</th>
                                  <th>{{ranking.level}}</th>
                                  <th>{{ranking.win}}</th>
                                  <th>{{ranking.lose}}</th>
                                  <th>{{ranking.winlate}}%</th>                                  
                                </tr>
                                {% endfor %}
                            </tbody>
                      </table>   
                    <!-- Pagination -->
                    </div>
                    <div class="Pagination">
                        #{{page|add:'-1'}}01 ~ #{{page}}00
                        <br>
                        <br>
                        <br>
                            <div class="pages">
                                {% if page != 1%}<a href="{% url 'gg_app:leaderboards' page|add:'-1' %}" >이전</a>{% endif %}
                                <a href="{% url 'gg_app:leaderboards' page|add:'1' %}" >다음</a>
                            </div>
                    </div>
                </div>
            </article>
        </section>
        {% include 'oreumi_gg/footer.html' %}
    </body>
    <script src="{% static 'js/leaderboards.js' %}"></script>
</html>
