{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}?{% now 'U' %}">
</head>
<body>

  <form class="login" method="POST" action="{% url 'account_login' %}">
        <div class="wrap">
            <div class=""><a class="" href=""> <img src="{% static 'img\logo_with_avatar.png' %}" style="width:245px; height:125px;"></a>
            </div>
            <h2>Log-in</h2>
            <div class="login_sns">
              <li><a href=""><img src="{% static 'img\social\google.png' %}" style="width:50px; height:50px; border-radius: 50%;"></i></a></li>
              <li><a href=""><img src="{% static 'img\social\fb.png' %}" style="width:50px; height:50px; border-radius: 50%;"></i></a></li>
              <li><a href=""><img src="{% static 'img\social\kakao.png' %}" style="width:50px; height:50px; border-radius: 50%;"></i></a></li>
              <li><a href=""><img src="{% static 'img\social\naver.png' %}" style="width:50px; height:50px; border-radius: 50%;"></i></a></li>
            </div>
            {% csrf_token %}
            {{form.non_field_errors}}
            <div class="login_id">
              <h4>E-mail</h4>
              <input type="email" name="login" placeholder="Email" autocomplete="email" maxlength="320" required="" id="id_login">
            </div>
            <div class="login_pw">
              <h4>Password</h4>
              <input type="password" name="password" placeholder="Password" autocomplete="current-password" required="" id="id_password">
            </div>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}

            <div class="login_etc">
                <div class="checkbox">
                <input type="checkbox" name="" id=""> Remember Me?
                </div>
                <div class="forgot_pw">
                <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
                </div>
            </div>

            <div class="submit">
                <input type="submit" value="submit" style="cursor: pointer;">
            </div>
            <div class="login_etc2">
              <a href="{% url 'account_signup' %}">아직 회원이 아니신가요?</a>
            </div>
        </div>
  </form>

</body>
</html>

