{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/account/password_reset.css' %}">
{% endblock extra_head %}
{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}


{% block content %}





{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<form class="password_reset" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    <div class="wrap">
        <div class="">
            <a class="" href="{% url 'gg_app:community' %}"> <img src="{% static 'img\logo_with_avatar.png' %}" style="width:245px; height:125px;"></a>
        </div>
        <h1>{% trans "Password Reset" %}</h1>

        <p style="text-align: center; color: rgb(179, 7, 7);">사용했던 이메일 주소를 작성하세요</p>

        {% csrf_token %}
        {{ form.as_p }}
        <div class="submit">
            <input type="submit" value="비밀번호 초기화" style="cursor: pointer;">
        </div>
        <p><a href="{% url 'account_login' %}" class="return-atag">로그인으로 가기</a></p>
    </div>
</form>
{% endblock content %}
