{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/account/password_reset_done.css' %}">
{% endblock extra_head %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block content %}
<div class="wrap">
    <div class="">
        <a class="" href="{% url 'gg_app:community' %}"> <img src="{% static 'img\logo_with_avatar.png' %}" style="width:245px; height:125px;"></a>
    </div>
    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}  
    <p >이메일을 보내드렸습니다. 메일을 받지 못하신 경우 스팸메일함을 확인해 주시기 바랍니다. 몇분이 지나도 메일을 받지 못하면 저희에게 연락하십시오</p>
    <p><a href="{% url 'account_login' %}" class="return-atag">로그인으로 돌아가기</a></p>
</div>
{% endblock content %}
