{% extends "account/base.html" %}
{% load static %}


{% load i18n %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/account/password_reset_from_key_done.css' %}">
{% endblock extra_head %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<div class="wrap">
    <div class="">
        <a class="" href="{% url 'gg_app:community' %}"> <img src="{% static 'img\logo_with_avatar.png' %}" style="width:245px; height:125px;"></a>
    </div>
    <h1>{% trans "Change Password" %}</h1>
    <p>비밀번호를 성공적으로 변경하였습니다.</p>
    <p><a href="{% url 'account_login' %}" class="return-atag">로그인으로 가기</a></p>
</div>
{% endblock content %}
