{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/account/password_reset_from_key.css' %}">
{% endblock extra_head %}
{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}

    {% if token_fail %}
    <div class="wrap">
        <div class="">
            <a class="" href="{% url 'gg_app:community' %}"> <img src="{% static 'img\logo_with_avatar.png' %}" style="width:245px; height:125px;"></a>
        </div>
        <h1>{% if token_fail %}{% trans "올바르지 않은 토큰" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>현재 이 링크는 만료되었거나 확인이 완료 되었습니다.</p>
        <p>다시 확인해 주세요.</p>
        <p><a href="{% url 'account_login' %}" class="return-atag">로그인으로 돌아가기</a></p>
    </div>
    {% else %}
    <form class="password_reset" method="POST" action="{{ action_url }}" class="password_reset_from_key">
        <div class="wrap">
            <div class="">
                <a class="" href="{% url 'gg_app:community' %}"> <img src="{% static 'img\logo_with_avatar.png' %}" style="width:245px; height:125px;"></a>
            </div>
            <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
            {% csrf_token %}
            {{ form.as_p }}
            <div class="submit">
                <input type="submit" value="비밀번호 변경하기" style="cursor: pointer;">
            </div>

            <p><a href="{% url 'account_login' %}" class="return-atag">로그인으로 돌아가기</a></p>
        </div>
    </form>
    {% endif %}
{% endblock content %}
