<!-- error_page.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Error Page</title>
</head>
<body>
    <h1>게임 중이 아닙니다</h1>
    <p>게임 중이 아니거나 오류가 발생했습니다.</p>
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-auto-dismissible alert-dismissible notification-container text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
{% endfor %}
    <button onclick="goBack()">뒤로 가기</button>

    <script>
        function goBack() {
            window.history.back();
        }
    </script>
</body>
</html>