{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
        <link rel="stylesheet" href="{% static 'css/header.css' %}" />
        <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
        <link rel="stylesheet" href="{% static 'css/champions.css' %}" />
        <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
        <link rel="icon" href="{% static 'img\oreumi_gg\favicon.ico' %}" />
        <title>Oreumi.gg/champions</title>
    </head>
    <body>
        {% include 'oreumi_gg/header.html' %} {% include 'oreumi_gg/nav.html' %}

        <section>
            <article class="champions_article">
                <div class="position_btn">
                    <input class="champions_search" type="text" name="champions_search" id="championsSearch" onkeydown="searchOnEnter(event)" />
                    <a href="{% url 'gg_app:champion_tier' position='top' %}"><button class="champions_top">탑</button></a>
                    <a href="{% url 'gg_app:champion_tier' position='jungle' %}"><button class="champions_jg">정글</button></a>
                    <a href="{% url 'gg_app:champion_tier' position='mid' %}"><button class="champions_mid">미드</button></a>
                    <a href="{% url 'gg_app:champion_tier' position='adc' %}"><button class="champions_adc">바텀</button></a>
                    <a href="{% url 'gg_app:champion_tier' position='support' %}"><button class="champions_spt">서포터</button></a>
                </div>
                <div class="champions_portrait" id="championsPortait">
                    <!--챔피언 초상화, 검색한 챔피언 표시-->
                </div>
                <div class="champions_tier" id="championsTier">
                    <table>
                        <thead>
                            <tr>
                                <th>Rank</th>
                                <th>Champion</th>
                                <!-- 하나의 항목으로 합침 -->
                                <th>Tier</th>
                                <th>Win Rate</th>
                                <th>Pick Rate</th>
                                <th>Ban Rate</th>
                                <th>Weak Against Champions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for champion in champion_tiers %}
                            <tr>
                                <td>{{ champion.index }}</td>
                                <td>
                                    <img src="{{ champion.champion_img }}" alt="{{ champion.champion_name }}" />
                                    {{ champion.champion_name }}
                                </td>
                                <td>{{ champion.tier }}</td>
                                <td>{{ champion.win_rate }}</td>
                                <td>{{ champion.pick_rate }}</td>
                                <td>{{ champion.ban_rate }}</td>
                                <td>
                                    <ul>
                                        {% for weak_champion in champion.weak_against_champions %}
                                        <li><img src="{{ weak_champion }}" alt="" /></li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </article>
        </section>
        {% include 'oreumi_gg/footer.html' %}
    </body>
    <script src="{% static 'js/champions.js' %}"></script>
</html>
