{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
        <link rel="stylesheet" href="{% static 'css/header.css' %}" />
        <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
        <link rel="stylesheet" href="{% static 'css/footer_gray.css' %}" />
        <link rel="stylesheet" href="{% static 'css/ingame_test.css' %}" />
    </head>
    <body>
        {% include 'oreumi_gg/header.html' %} {% include 'oreumi_gg/nav.html' %}
        <div class="ingame-container">
            <input type="text" class="ingame-input" id="nickname" placeholder="여기에 닉네임을 입력하세요" />
            <button class="ingame-button" id="ingame-button">인게임 정보</button>
        </div>
        {% include 'oreumi_gg/footer.html' %}
    </body>
    <script>
        document.getElementById("ingame-button").addEventListener("click", function () {
            const nickname = document.getElementById("nickname").value;
            const url = `/ingame/${nickname}`;
            window.location.href = url;
        });
    </script>
</html>
