<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        {% for match in matches %}
        <div style="border: 2px solid #333;">
            <div class="match_info">
                <li style="list-style-type: none;"> {{ match.win_or_not }} </li>
                <li style="list-style-type: none;"> {{ match.game_type }} </li>
                <li style="list-style-type: none;"> {{ match.game_playtime }}</li>
                <li style="list-style-type: none;"> {{ match.game_time }}</li>
            </div>
            <img src="https://ddragon.leagueoflegends.com/cdn/13.20.1/img/champion/{{ match.search_player_champ }}.png" alt="">
            <p>{{ match.search_player_champlevel }}</p>
            <div class="champ_spell">
                <li style="list-style-type: none;"><img src="https://ddragon.leagueoflegends.com/cdn/13.20.1/img/spell/{{ match.search_player_summonerspell1 }}.png"></li>
                <li style="list-style-type: none;"><img src="https://ddragon.leagueoflegends.com/cdn/13.20.1/img/spell/{{ match.search_player_summonerspell2 }}.png"></li>
            </div>
            <div class="rune">
                <li style="list-style-type: none;"><img src="https://ddragon.canisback.com/img/{{ match.search_player_main_rune }}"></li>
                <li style="list-style-type: none;"><img src="https://ddragon.canisback.com/img/perk-images/Styles/{{ match.search_player_sub_rune }}.png"></li>
            </div>
            <div class="kill">
                <li style="list-style-type: none;"><p> {{ match.search_player_kill }} / {{ match.search_player_death }} / {{ match.search_player_assist }}</p></li>
                <li style="list-style-type: none;"><p>kda {{ match.search_player_kda }}</p></li>
            </div>
            <div class="total">
                <li style="list-style-type: none;">
                    <p>킬관여율 {{ match.search_player_killpart }}% </p>
                    <p>CS {{ match.search_player_totalminions_kill }} ({{ match.search_player_minperminions}})</p>
                    <p>제어 와드 {{ match.search_player_visionWardsBoughtInGame }}</p>
                </li>
            </div>
            
            
            {% for item in match.search_player_item %}
                <img src="https://ddragon.leagueoflegends.com/cdn/13.20.1/img/item/{{ item }}.png" alt="">
            {% endfor %}

            {% for key, value in match.items %}
                {% if forloop.counter <= 5 %}
                    <li style="list-style-type: none;">
                        <img src="https://ddragon.leagueoflegends.com/cdn/13.20.1/img/champion/{{ value.0.championname }}.png">
                        {{ value.0.summonername }}
                    </li>
                {% elif forloop.counter <= 10 %}
                    <li style="list-style-type: none;">
                        <img src="https://ddragon.leagueoflegends.com/cdn/13.20.1/img/champion/{{ value.0.championname }}.png">
                        {{ value.0.summonername }}           
                    </li>
                {% endif %}
            {% endfor %}
        </div>
        
        
    {% endfor %}
    </body>
</html>
