[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/ggvenv/bin/uwsgi -i /srv/Oreumi.gg/oreumi_gg/.config/uwsgi/oreumi_gg.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
