{% comment %}
<div class="css-vp9s1c ev85ldj0">
    <div class="header">
        <div class="header-info">OP스코어로 더 정확한 내 실력을 확인해 보세요</div>
        <button><img src="https://s-lol-web.op.gg/images/icon/icon-arrow-down.svg?v=1697786050877" alt="toggle" /></button>
    </div>
    <div class="content">
        <div class="main">
            <div class="title">OP스코어란?</div>
            <div class="description">역할군과 라인전, 킬/데스/데미지/시야장악/오브젝트 파괴 등의 지표를 종합해 게임 내 활약 정도를 측정하는 평점 시스템입니다.</div>
            <div class="detail">
                <div class="player">
                    <div class="title">베스트 플레이어 선정</div>
                    <div class="row">
                        <div class="badge mvp">MVP</div>
                        <div class="description mvp">해당 경기에서 가장 뛰어난 활약을 보여준 1명</div>
                    </div>
                    <div class="row">
                        <div class="badge ace">ACE</div>
                        <div class="description ace">팀은 비록 패배했지만 승리팀 못지 않은 활약을 보여준 1명</div>
                    </div>
                </div>
                <div class="feature">
                    <div class="feature-desc">
                        <div class="title">특징</div>
                        <div class="description">
                            개선된 OP스코어는 사용자들이 시간에 따른 게임 지표를 세밀하게 추적할 수 있도록 합니다. 랭크와 일반 게임에서는 매 5분마다, 칼바람 모드에서는 3분마다 OP Score가 계산되어,
                            플레이어의 게임 내 성과를 더욱 상세하게 분석할 수 있습니다.
                        </div>
                    </div>
                    <div class="feature-image">
                        <img src="https://s-lol-web.op.gg/images/summoners/op-score-graph.png?v=1697786050877" width="133" alt="Example OP Score Graph" height="92" />
                    </div>
                </div>
                <div class="area">
                    <div class="title">
                        평점 구간
                        <div class="" style="position: relative">
                            <img src="https://s-lol-web.op.gg/images/icon/icon-question.svg?v=1697786050877" width="24" alt="guide" />
                        </div>
                    </div>
                    <div class="graph">
                        <div class="bar"></div>
                        <div class="score">
                            <div>0</div>
                            <div>10</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub">
            <div>
                OP스코어는 현재 베타 테스트 기간으로, 각 게임의 특성에 따라 다소 부정확한 결과가 노출될 수 있습니다. 각각의 지표 또는 가중치를 지속적으로 조정해 가장 객관적인 지표를 찾기 위해 개선해갈
                예정이니 많은 관심과 의견 부탁드립니다.
            </div>
        </div>
    </div>
</div>
{% endcomment %}
