{% load static %}

<div id="content-header" class="node1">
    <div class="user-info">
        <div class="wrapper">
            <div class="header-profile-info">
                <div class="profile-icon">
                    <img src="http://ddragon.leagueoflegends.com/cdn/13.20.1/img/profileicon/{{ search_player_info_dict.search_player_icon }}.png" style="width: 100px; height: 100px" />
                    <div class="level"><span class="level">{{search_player_info_dict.search_player_level}}</span></div>
                </div>
                <div class="info">
                    <div class="tier-and-cover-img">
                        <div class="prev-tier">
                            <ul class="tier-list">
                                <!-- 여기는 크롤링 -->
                                <li>
                                    <div class="" style="position: relative"><b>S2023 S1</b> silver 1</div>
                                </li>
                                <li>
                                    <div class="" style="position: relative"><b>S2022</b> bronze 1</div>
                                </li>
                                <li>
                                    <div class="" style="position: relative"><b>S2021</b> silver 1</div>
                                </li>
                                <li><button class="more-tier">More Season Tier</button></li>
                            </ul>
                        </div>
                    </div>
                    <div class="summoner-name-container">
                        <h1 class="summoner-name">{{search_player_info_dict.search_player_name}}</h1>
                        <button class="favorite-icon" id="favorite-button">
                            <img class="favorite-icon-image" src="/static/img/favorite_icon_false.png" alt="off" />
                        </button>
                    </div>
                    <div class="team-and-rank">
                        <div class="rank">
                            <a href="" target="_blank" rel="noreferrer">래더 랭킹 <span class="ranking"> {{search_player_info_dict.search_player_ranking}} </span>위 (상위 57.6%)</a>
                        </div>
                    </div>
                    <div class="user-info-buttons"><button class="renewal-button">전적 갱신</button><button id="summoner-header-tier-graph" class="css-6naflr enmfhxj3">티어 그래프</button></div>
                    <div class="last-update">
                        <div class="" style="position: relative">최근 업데이트: 2일 전</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="menu-bar">
        <ul>
            <li>
                <a href="/summoners/kr/%EA%B1%B0%EB%8B%88%EB%9D%BC%EA%B5%AC">
                    <div class="menu-synthesis">종합</div>
                </a>
            </li>
            <li>
                <a href="/summoners/kr/%EA%B1%B0%EB%8B%88%EB%9D%BC%EA%B5%AC/champions">
                    <div class="menu-champions">챔피언</div>
                </a>
            </li>
            <li>
                <a href="/summoners/kr/%EA%B1%B0%EB%8B%88%EB%9D%BC%EA%B5%AC/ingame">
                    <div class="menu-ingame">인게임 정보</div>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://tft.op.gg/summoners/kr/거니라구?utm_source=opgg&amp;utm_medium=button&amp;utm_campaign=click_summoner_tft">
                    <div class="menu-tft">
                        <img class="menu-tft-img" src="https://s-lol-web.op.gg/images/icon/icon-tft.svg?image=q_auto,f_webp,w_32&amp;v=1697786050877" width="16" alt="전략적 팀 전투" height="16" />
                        <span>전략적 팀 전투</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
