{% load static %}

<div id="content-header" class="node1">
    <div class="user-info">
        <div class="wrapper">
            <div class="header-profile-info">
                <div class="profile-icon">
                    <img src="http://ddragon.leagueoflegends.com/cdn/13.20.1/img/profileicon/{{ search_player_info_dict.search_player_icon }}.png" style="width: 100px; height: 100px" />
                    <div class="level"><span class="level">{{search_player_info_dict.search_player_level}}</span></div>
                </div>
                <div class="info">
                    <div class="tier-and-cover-img">
                        <div class="prev-tier">
                            <ul class="tier-list">
                                <!-- 여기는 크롤링 -->
                                <li>
                                    <div class="tier-info" style="position: relative"><b class="tier-season">S2023 S1</b> Silver 1</div>
                                </li>
                                <li>
                                    <div class="tier-info" style="position: relative"><b class="tier-season">S2022</b> Bronze 1</div>
                                </li>
                                <li>
                                    <div class="tier-info" style="position: relative"><b class="tier-season">S2021</b> Silver 1</div>
                                </li>
                                <li>
                                    <button class="more-tier" id="tier-toggle-button">More Season Tier<img class="down-arrow-img" src="{% static 'img/down_arrow.png' %}" /></button>
                                    <ul class="more-tier-list" id="more-tier-list">
                                        <li class="list-item"><b class="tier-season">S2020</b> Gold 4</li>
                                        <li class="list-item-divide-line"></li>
                                        <li class="list-item"><b class="tier-season">S8</b> Gold 5</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="summoner-name-container">
                        <h1 class="summoner-name">{{ search_player_info_dict.search_player_name }}</h1>
                        <button class="favorite-icon" id="favorite-button">
                            <img class="favorite-icon-image" src="/static/img/favorite_icon_false.png" alt="off" />
                        </button>
                    </div>
                    <div class="team-and-rank">
                        <div class="rank">
                            <a href="" target="_blank" rel="noreferrer">래더 랭킹 <span class="ranking"> {{search_player_info_dict.search_player_ranking}} </span>위 (상위 57.6%)</a>
                        </div>
                    </div>
                    <div class="user-info-buttons"><button class="renewal-button">전적 갱신</button></div>
                    <div class="last-update">
                        <div class="" style="position: relative">최근 업데이트: 방금 전</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="divide-line"></div>
    <div class="menu-bar">
        <ul>
            <li>
                <a href="/summoners/kr/{{ search_player_info_dict.search_player_name }}">
                    <div class="menu-synthesis">종합</div>
                </a>
            </li>
            <li>
                <a href="/ingame/{{ search_player_info_dict.search_player_name }}">
                    <div class="menu-ingame">인게임 정보</div>
                </a>
            </li>
            <li>
                <a target="_blank" href="https://tft.op.gg/summoners/kr/{{ search_player_info_dict.search_player_name }}?utm_source=opgg&amp;utm_medium=button&amp;utm_campaign=click_summoner_tft">
                    <div class="menu-tft">
                        <img class="menu-tft-img" src="https://s-lol-web.op.gg/images/icon/icon-tft.svg?image=q_auto,f_webp,w_32&amp;v=1697786050877" width="16" alt="전략적 팀 전투" height="16" />
                        <span>전략적 팀 전투</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
