{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
        <link rel="stylesheet" href="{% static 'css/header.css' %}" />
        <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
        <link rel="stylesheet" href="{% static 'css/login.css' %}" />
        <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
        <title>Oreumi.gg/register</title>
    </head>
    <body>
        <div class="container">
            <div class="login_container">
                <form method="post" class="login_form">
                    {% csrf_token %}
                    <label for="username">아이디</label>
                    <input type="text" class="login_input" id="userName" name="username" required placeholder="아이디를 입력해주세요" />
                    <label for="password">비밀번호</label>
                    <input type="password" class="login_input" id="passWord" name="password" required placeholder="비밀번호를 입력해주세요" />
                    <label for="verify-password">비밀번호 확인</label>
                    <input type="password" class="login_input" id="verifyPassWord" name="password_confirm" required placeholder="비밀번호를 다시 입력해주세요" />
                    <button type="submit" class="login_button">등록</button>
                </form>
                {% if error_message %}
                <p class="error_message">{{ error_message }}</p>
                <!-- 오류 메시지 표시 -->
                {% endif %}
                <p class="register_reco">
                    이미 회원이시라면,
                    <a href="{% url 'gg_app:custom_login' %}" class="bold">로그인</a>
                </p>
    </body>
</html>
