.node1 {
    border: 2px solid grey;
    background-color: green;
}
.node2 {
    float: left;
    width: 200px;
    border: 2px solid grey;
    background-color: orange;
}
.node3 {
    float: left;
    width: calc(100% - 220px);
    border: 2px solid grey;
}
